name: Deploy Portfolio
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Termux via Cloudflare Tunnel
        uses: zgunz42/cloudflared-scp-action@v1.2.1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 8022
          # This copies your website files to the Nginx folder
          from: "./*"
          to: "/data/data/com.termux/files/usr/share/nginx/html/"